@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes contentChange {
    0% { opacity: 0.5; transform: scale(0.95); }
    100% { opacity: 1; transform: scale(1); }
  }
  
  .popupContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
    animation: fadeIn 0.5s ease-out;
  }

  .confirmButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;

    &:hover {
      background-color: #0056b3;
    }
  }
  
  .popup {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 500px; /* Ajusté pour une meilleure présentation */
    overflow-y: auto;
    animation: contentChange 0.3s ease-out;
    text-align: center; /* Centre le contenu */
  }

  .closeIcon {
    position: absolute;
    top: 10px; /* Ajustez selon l'espacement désiré du haut */
    right: 10px; /* Ajustez selon l'espacement désiré de la droite */
    cursor: pointer;
    color: #333; /* Ou toute autre couleur adaptée à votre design */
    font-size: 24px; /* Ajustez la taille selon vos préférences */
  }
  
  .attractionRecommendation {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background-color: #f8f9fa; /* Couleur de fond légère */
    margin: 10px 0; /* Espace entre les recommandations */
  }
  
  .attractionRecommendation img {
    width: 100px; /* Ajustez la taille de l'image selon vos besoins */
    height: 100px; /* Ajustez la taille de l'image selon vos besoins */
    border-radius: 8px; /* Coins arrondis pour l'image */
  }
  
  .attractionRecommendation h3 {
    flex-grow: 1;
    margin: 10px;
  }
.attractionRecommendation h2 {
  font-size: 20px;
}
  
  .answerButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 5px 0; /* Moins d'espace entre les boutons pour une apparence plus compacte */
    cursor: pointer;
    display: block; /* Assure que le bouton s'étend */
    width: calc(100% - 40px); /* S'assure que les boutons ne dépassent pas le padding */
    box-sizing: border-box;
    transition: background-color 0.3s;
    font-size: 16px; /* Augmente la taille de la police pour améliorer la lisibilité */
    
    &:hover {
      background-color: #0056b3;
    }
  }
  
  .answerButton.selected {
    background-color: #28a745; /* Vert pour les sélectionnés, pour un feedback visuel */
  }
  
  .closeButton {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    
    &:hover {
      background-color: #c82333;
    }
  }
  
  .icon {
    margin-bottom: 20px;
    font-size: 48px;
  }

  .actionButtons {
    display: flex;
    justify-content: center;
    gap: 50px; /* Ajustez l'espacement selon vos besoins */
    margin-bottom: 20px; /* Espace avant le bouton Fermer */
  }
  
  .passIcon, .favoriteIcon {
    cursor: pointer;
    font-size: 50px; /* Ajustez la taille selon vos besoins */
  }
  
  .favoriteIcon {
    color: red; /* Cœur en rouge */
    /* Pour ajouter un cercle autour de l'icône, vous pouvez utiliser un pseudo-élément ou un wrapper */
  }
  
  /* Exemple d'ajout d'un cercle autour de l'icône de cœur */
  .favoriteIcon::before {
    content: '';
    position: absolute;
    top: -5px; /* Ajustez selon la taille de l'icône */
    left: -5px;
    width: 34px; /* Ajustez selon la taille de l'icône */
    height: 34px;
    border-radius: 50%;
    border: 2px solid red; /* Cercle rouge */
    z-index: -1;
  }
  
  