// Dans BottomNav.module.scss
*{
  margin: 0;
  padding: 0;
}
.bottomNav {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 80px; // Hauteur accrue
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    align-items: center; // Centrer verticalement le contenu
  }
}

.activeNavItem {
  background-color: #d3d3d3; // Exemple de couleur pour l'élément actif
  border-radius: 5px;
  height: 50px;
  width: 70px;
}


.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  text-decoration: none;
  color: #333;
  font-size: 12px; // Taille de police réduite pour l'espace
  &:hover {
    color: darken(#333, 10%);
  }
}



.icon {
  font-size: 20px; // Taille des icônes
  margin-bottom: 5px; // Espace entre l'icône et le texte
}
