// Styles globaux
body {
    font-family: 'Arial', sans-serif;
    background-color: #2C2C2E;
    color: #333;
    margin: 0;
    padding: 0;
}

p, h1, h2 {
    color: white;
    margin: 0; // Supprime les marges par défaut
}

.lastUpdate {
    padding: 10px 0;
}
// Styles du conteneur principal
.container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

// Styles pour la recherche d'attractions
.searchAttraction {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 20px;
}

// Styles pour la liste des attractions
.attractionsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Ajuste automatiquement le nombre de colonnes
    gap: 20px;
}

// Styles pour les cartes individuelles d'attractions
.card {
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

// Styles pour les images des attractions
.waitTime {
    position: absolute; // Positionnement absolu pour le placer en haut à droite
    top: -18px;
    right: -22px;
    background-color: rgba(38, 194, 129,0.9); // Fond légèrement transparent
    color: white;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height: 50px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imgAttraction {
    width: 100%;
    height: 200px; // Hauteur fixe pour une meilleure uniformité
    object-fit: cover; // Assure que l'image couvre toute la zone sans être déformée
}


// Styles pour le texte des cartes
.cardText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    text-align: left;
}

// Styles spécifiques pour le texte des attractions ouvertes
.textOpenAttraction {
    font-size: 15px;
    color: black; // Couleur du texte pour les attractions ouvertes
}

// Media queries pour les ajustements responsifs
@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }

    .attractionsList {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); // Plus petites cartes sur les écrans étroits
    }
}
