// Styles globaux
body {
    font-family: 'Arial', sans-serif;
    background-color: #2C2C2E;
    color: #333;
    margin: 0;
    padding: 0;
}

p, h1, h2 {
    color: white;
    margin: 0; // Supprime les marges par défaut
}

.lastUpdate {
    padding: 10px 0;
}
// Styles du conteneur principal
.container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

// Styles pour la recherche d'attractions
.searchAttraction {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 20px;
}

// Styles pour la liste des attractions
.attractionsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Ajuste automatiquement le nombre de colonnes
    gap: 20px;
}

// Styles pour les cartes individuelles d'attractions
.card {
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cardText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    height: 30%;
    text-align: left;
}

.imgAttraction {
    width: 100%;
    height: 70%;// Hauteur fixe pour une meilleure uniformité
    object-fit: cover; // Assure que l'image couvre toute la zone sans être déformée
}
.attractionName {
    font-weight: bold;
    align-self: center;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    padding: 5px;
    background: linear-gradient(45deg, #7B1FA2, #BA68C8);
    -webkit-background-clip: text;
    color: transparent;
}

.attractionName:hover {
    color: #9c27b0;
}


.checkboxcustom {

    + label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            border: 2px solid #9C27B0; // Bordure de la case personnalisée
            border-radius: 3px; // Coins arrondis
            transition: background-color 0.3s;
        }
    }

    &:checked + label::before {
        background-color: #9C27B0; // Couleur de fond lorsqu'elle est cochée
    }
}

// Styles pour les images des attractions
.waitTime {
    position: absolute; // Positionnement absolu pour le placer en haut à droite
    top: -18px;
    right: -22px;
    background-color: rgba(38, 194, 129,0.9); // Fond légèrement transparent
    color: white;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height: 50px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.waitTimeHigh{
    background-color: rgba(139,0,0,0.9);
}




// Styles pour le texte des cartes


// Styles spécifiques pour le texte des attractions ouvertes
.textOpenAttraction {
    font-size: 15px;
    color: black; // Couleur du texte pour les attractions ouvertes
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.checkbox{
    display: flex;
    padding: 10px;

}
.allbutton {
    display: flex;
    margin: 10px;
    .button{
            background-color: #9C27B0; // Exemple de couleur
            color: white;
            border: none;
            padding: 10px;
        margin-right: 5px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, box-shadow 0.3s;

            &:hover {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }

            &:active {
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // Moins d'ombre lors du clic
            }
    }
}

.filterOption {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-right: 15px;
}

.filterOption input[type="checkbox"] {
    margin-right: 5px;
}

/* Style des cases à cocher */
/* Style des cases à cocher */
.checkboxcustom {
    position: relative;
    width: 20px;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
}
.textCheckbox {
    padding-left: 10px;
}
.checkboxcustom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #9C27B0; /* Couleur de la bordure */
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.checkboxcustom:checked::before {
    background-color: #9C27B0; /* Couleur de fond lorsque coché */
    border-color: #9C27B0; /* Couleur de la bordure lorsque coché */
}

.checkboxcustom:hover::before {
    border-color: #7B1FA2; /* Couleur de la bordure au survol */
}



// Media queries pour les ajustements responsifs
@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    .filters {
        flex-direction: column;
        align-items: center;
    }

    .allbutton {
        flex-direction: column;
        align-items: center;
    }

    .allbutton .button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .filterOption {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .attractionsList {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); // Plus petites cartes sur les écrans étroits
    }
}
