body {
    font-family: 'Arial', sans-serif;
    background-color: #2C2C2E; /* Light grey background for contrast with dark navbar */
    color: #333; /* Dark text for readability */
    margin: 0;
    padding: 0;
}
p,h1,h2 {
    color: white;
}
.container {
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.sliderContainer {
    margin: 20px;
}
.OpenAttractionSlider {
    width: 100%;
    margin: 0 auto;
}
h1 {
    color: #0072ce; /* Disney-themed blue for headings */
    font-size: 30px;
    margin: 0;
}
.lastUpdate {
    margin: 20px;
}

.textOpenAttraction {
    color: black;
}
/* the slides */
.slick-list {margin: 0 -5px;}
.slick-slide>div {padding: 0 5px;}
.card {
    background-color: #FFFFFF; /* White card background for a clean look */
    border: 1px solid #ddd; /* Light border color for subtle definition */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}
.imgAttraction {
    height: 50%;
    border-radius: 5px 5px 0 0; /* Rounded corners at the top of the image */
    object-fit: cover;
    width: 100%;
}

.cardText {
    display: flex;
    justify-content: center;
    height: 50%;
    padding: 10px;
    text-align: Center;
    border-radius: 0 0 5px 5px; /* Rounded corners at the bottom of the card text */
    flex-direction: column;
}

.textOpenAttraction{
    font-size: 15px;
}
.searchAttraction {
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ddd; /* Light border for the search input */
    border-radius: 15px; /* Rounded corners for the search input */
    background-color: white; /* White background for the search input */
    margin-bottom: 20px; /* Spacing below the search input */
}

/* ... Autres styles ... */

/* Cartes par défaut */
.card {
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* En mode liste pour les écrans de taille maximale de 768px (smartphones) */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    .card {
        flex-direction: row; /* Disposition en ligne pour les smartphones */
        height: auto; /* Ajuster la hauteur automatiquement */
    }

    .imgAttraction {
        height: 50%;
        width: 100%; /* Prendre la moitié de la largeur */
        border-radius: 5px 0 0 5px; /* Coins arrondis à gauche */
    }

    .cardText {
        width: 100%; /* Prendre la moitié de la largeur */
        padding: 10px;
        text-align: center;
        border-radius: 0 5px 5px 0; /* Coins arrondis à droite */
    }
    .searchAttraction {
        width: 80%;
        align-self: center;
    }
    .buttonCard {
        width: 100%; /* Prendre toute la largeur */
        border-radius: 0; /* Pas de coins arrondis pour le bouton en mode liste */
        margin: 10px 0; /* Marge en haut et en bas du bouton */
    }
}

/* ... Autres styles ... */
