.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    cursor: grab;
  }
  
  .image {
    width: 100%;
    height: auto; // Ajustez selon vos besoins pour garder le ratio de l'image
  }
  
  .title {
    padding: 10px;
    text-align: center;
  }
  
  
  /* Ajoutez des styles pour les animations ou transitions de swipe ici */