.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #333;
}

h3 {
  flex-grow: 1;
  margin: 0 10px; /* Espace entre le titre et l'image/le cercle d'attente */
  font-size: 1rem; /* Taille de police pour le titre */
  color: #333;
}

.topcontainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  .heroSection {
    position: relative;
    width: 100%;
    height: 300px; // Ou la hauteur que vous souhaitez pour votre image de fond
    .heroImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.bottomcontainer p {
  text-align: center;
}
.bottomcontainer h2 {
  text-align: center;
  margin-bottom: 18px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.attractionsSection {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attractionsSection h3 {
  padding-top: 10px;
}

.linkButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.attractionsSection {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attractionsSection h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}
.randomAttractions {
    display: inline-grid;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.randomAttractionsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.randomAttractionsImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.randomBlock{
  padding: 30px;
}

.attractionscard {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  padding: 10px;
  transition: box-shadow 0.3s ease;
}
.attractionscard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.attractionscard::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: red; /* Ou une couleur d'arrière-plan d'effacement qui correspond à votre design */
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-out;
}

/* Lorsqu'une carte est activée pour le swipe, scale le pseudo-élément */
.attractionscard.swipe-active::before {
  transform: scaleX(1);
}

.allBlock {
  width: 90%;
}

.attractionsSection h3 {
  font-size: 18px;
  color: #333;
}

.attractionsSection p {
  font-size: 16px;
  color: #666;
}
.favoriteAttraction {
  display: flex;
  align-items: center;
}
.waitTimeCircle {
  margin-right: 10px; /* Espace entre le cercle d'attente et l'icône de suppression */
  padding: 5px; /* Espace intérieur pour le cercle d'attente */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 0.875rem; /* Taille de police pour le texte à l'intérieur du cercle */
  width: 40px; /* Taille du cercle d'attente */
  height: 40px; /* Taille du cercle d'attente */
  flex-shrink: 0;
}

.green {
  background-color: #008000;
}

.yellow {
  background-color: orange;
}

.red {
  background-color: #FF0000;
}

.gray {
  background-color: #808080;
}
.favoriteImage {
  width: 100px; /* Taille de l'image */
  height: 100px; /* Taille de l'image */
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
}

.noFavoritesMessage {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoanddelete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.removeIcon {
  font-size: 1.5rem; /* Taille de l'icône de suppression */
  color: #FF0000; /* Couleur de l'icône de suppression */
  cursor: pointer;
  transition: color 0.3s ease;
}

.removeIcon:hover {
  color: #CC0000; /* Couleur de l'icône de suppression au survol */
}

.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour l'effet de superposition */
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.popup p {
  margin-bottom: 10px;
}

.popup button {
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}

.randomAttractions {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.randomAttractions:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.randomAttractionsImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: opacity 0.2s ease;
}

.randomAttractionsImage:hover {
  opacity: 0.9;
}

.randomAttractionsName {
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.favoriteButton {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 10px;
}

.favoriteButton:focus {
  outline: none;
}

/* Style for the heart icons */
.fa-heart {
  color: #db2e2e;
  transition: color 0.3s ease;
}

.fa-heart:hover {
  color: #bf2626;
}

@media (max-width: 768px) {

  .noFavoritesMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

}

