.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #333;
}

.topcontainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  .heroSection {
    position: relative;
    width: 100%;
    height: 300px; // Ou la hauteur que vous souhaitez pour votre image de fond
    .heroImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.bottomcontainer {
  .content {
    background-color: transparent; // fond transparent pour montrer l'image
    // Autres styles...

    .attractionsSection {
      background-color: #fff; // ou tout autre couleur de fond pour les cartes
      border-radius: 20px; // Bordures arrondies pour les cartes individuelles
      margin: -20px auto 0; // Négatif margin pour chevaucher le bord arrondi du heroSection
      width: calc(100% - 40px); // Ajustez la largeur pour prendre en compte le padding
      padding: 20px; // Ajustez selon votre contenu
      // Autres styles...
    }
  }
}
.bottomcontainer {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bottomcontainer p {
  text-align: center;
}
.bottomcontainer h2 {
  text-align: center;
  margin-bottom: 18px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.attractionsSection {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attractionsSection h3 {
  padding-top: 10px;
}

.linkButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.attractionsSection {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attractionsSection h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}
.randomAttractions {
    display: inline-grid;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.randomAttractionsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.randomAttractionsImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.randomBlock{
  padding: 30px;
}

.attractionscard {
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
  margin-bottom: 10px;
}

.allBlock {
  width: 90%;
}

.attractionsSection h3 {
  font-size: 18px;
  color: #333;
}

.attractionsSection p {
  font-size: 16px;
  color: #666;
}
.favoriteAttraction {
  display: flex;
  align-items: center;
}
.waitTimeCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007BFF;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-right: 10px;
  flex-shrink: 0;
}

.green {
  background-color: #008000;
}

.yellow {
  background-color: orange;
}

.red {
  background-color: #FF0000;
}

.gray {
  background-color: #808080;
}
.favoriteImage {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-left: 10px;
  object-fit: cover;
  border-radius: 10px;
}
.noFavoritesMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Ajoutez ce style à votre feuille de style (appHome.module.scss)
.infoanddelete{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.removeIcon {
  font-size: 24px; // Ajustez la taille de l'icône en conséquence

  color: #FF0000; // Couleur de l'icône pour la suppression (rouge)
  cursor: pointer; // Afficher le curseur de type main pour indiquer que c'est cliquable
  margin-left: 10px; // Espacement à gauche pour séparer l'icône du texte
  transition: color 0.3s ease; // Transition de couleur lors du survol

  &:hover {
    color: #FF3333; // Couleur de l'icône au survol (rouge légèrement plus clair)
  }
}

.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour l'effet de superposition */
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.popup p {
  margin-bottom: 10px;
}

.popup button {
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {

  .noFavoritesMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

}

