@keyframes swipeHint {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.swipeHintAnimation {
  animation: swipeHint 1s ease-in-out infinite;
}

.waitTimeCircle.green {
  background-color: #4CAF50; /* Vert pour les faibles temps d'attente */
}

.waitTimeCircle.yellow {
  background-color: #FFEB3B; /* Jaune pour les temps d'attente moyens */
}

.waitTimeCircle.red {
  background-color: #F44336; /* Rouge pour les longs temps d'attente */
}

.waitTimeCircle.gray {
  background-color: #9E9E9E; /* Gris pour les attractions fermées ou en panne */
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #333;
}

.topcontainer, .bottomcontainer {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.heroSection {
  position: relative;
  width: 100%;
  height: 300px; /* ou la hauteur que vous souhaitez */
  background-image: url('./../img/simphonyofcolor.jpg');
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  overflow: hidden;
}

.heroSection::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; /* ajustez cette hauteur selon le courbure que vous souhaitez */
  background: inherit;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  transform: scaleY(-1);
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.attractionsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.attractionscard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
  padding: 20px;
  width: calc(100% - 20px); /* Adjust for mobile */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.attractionscard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .attractionscard {
    width: calc(50% - 20px); /* Adjust for tablets */
  }
}

@media (min-width: 1024px) {
  .attractionscard {
    width: calc(33.333% - 20px); /* Adjust for desktop */
  }
}

.deleteIndicator {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0%;
  background-color: rgba(255, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: width 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
}

.deleteIndicatorContent {
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.favoriteImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.waitTimeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.waitTimeCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 0.875rem;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}


.filterButtons {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  button {
      background-color: white;
      color: #007BFF;
      border: 1px solid #007BFF;
      border-radius: 5px;
      padding: 10px 15px;
      margin: 0 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
          background-color: #007BFF;
          color: white;
      }

      &.active {
          background-color: #007BFF;
          color: white;
      }
  }
}

.waitTimeText {
  font-size: 1rem;
  color: #333;
}

.removeIcon {
  font-size: 24px;
  color: #FF0000;
  cursor: pointer;
}

.removeIcon:hover {
  color: #CC0000;
}

.linkButton {
  padding: 12px 24px;
  background-color: #007bff; /* Couleur principale de la DA */
  color: white;
  border: none;
  border-radius: 30px; /* Formes très arrondies */
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  display: inline-block; /* Pour permettre l'ajustement avec padding et margin */
  margin: 0; /* Réinitialisez les marges si nécessaire */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce pour la profondeur */
}

.toggleButton {
  background-color: white; /* Fond blanc pour l'état non actif */
  color: #007BFF; /* Texte bleu pour l'état non actif */
  border: 2px solid #007BFF; /* Bordure bleue cohérente avec le reste */
  border-radius: 15px; /* Arrondi cohérent avec le reste des éléments */
  padding: 10px 15px; /* Augmentation de la taille du padding pour agrandir le bouton */
  margin: 0 10px; /* Espacement entre les boutons */
  font-size: 16px; /* Taille de police cohérente */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.toggleButton.active {
  background-color: #007BFF; /* Fond bleu pour l'état actif */
  color: white; /* Texte blanc pour l'état actif */
}

.toggleButton:hover {
  background-color: #0056b3; /* Couleur plus foncée au survol pour l'état non sélectionné */
  color: white;
}

.toggleButton.active:hover {
  background-color: #e6f3ff; /* Couleur plus claire au survol pour l'état sélectionné */
  color: #0056b3;
}

.linkButton:hover {
  background-color: #007bff; /* Couleur plus foncée au survol */
  transform: scale(1.05); /* Effet de zoom léger au survol */
}

.linkButton:focus,
.linkButton:active {
  outline: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff6f61; /* Focus ring pour l'accessibilité */
}

.buyMeABeerContainer {
  background-color: white;
  border-radius: 10px;
  width: calc(100% - 20px);
  margin: 10px;
}
.buyMeABeerContainer p {
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;

}

.buyMeABeerContainer a img {
  transition: transform 0.3s ease;
  padding: 0 10px;
}

.buyMeABeerContainer a:hover img {
  transform: scale(1.05);
}

.minimalistMode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; /* Assurez-vous que la largeur s'adapte au conteneur parent */
}

.minimalistModeCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Ou 'center' selon le besoin */
  padding: 10px; /* Ajoutez du padding selon le besoin */
  width: 100%; /* Assurez-vous que la largeur est correcte */
}

/* Style pour le titre et le conteneur du temps d'attente pour un meilleur contrôle */
.attractionTitle, .waitTimeContainer {
  margin: 0 10px; /* Ajustez l'espacement selon le besoin */
}

p {
  margin: 0;
}

.minimalistMode .attractionTitle, .minimalistMode .waitTimeContainer {
  margin: 0 10px; /* Espacement horizontal entre les éléments */
}






@media (max-width: 768px) {
  .bottomcontainer {
    margin-bottom: 80px; /* Adjust this value based on your mobile navbar's height */
  }
}
