// Dans votre fichier Homepage.module.scss
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Welcome {
    margin-bottom: 10px;
}
.list li {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.allparks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}
.schedule, .closedMessage {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    color: #333333;
}
.mobileNavbar {
    display: none; // Par défaut, masquez la barre de navigation mobile

}
.logo {
    width: 250px;
    height: 250px;
    padding-bottom: 10px;
}
.container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    text-align: center; // Centre le texte et le bouton
}

// Style pour le bouton central
.Buttoncontainer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.hours{
    height: 300px;
    padding-bottom: 10px;
}
// Style pour le bouton des attractions
.attractionsButton {
    padding: 10px 20px;
    border: 1px solid #9C27B0; // Couleur bleue thématique Disney
    font-size: 20px;
    color: #333333;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); // Ombre légère pour le bouton
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken(#9C27B0, 10%); // Assombrir le bouton lors du survol
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .allparks{
        flex-direction: column;
        height: auto;
    }

    .Buttoncontainer {
        flex-direction: column;
        width: 100%;
        height: auto;
        .attractionsButton {
            font-size: 9px;
            width: 30%;
        }
    }
    .schedule, .closedMessage {
        font-size: 15px;
    }
    .logo {
        width: 100px;
        height: auto;
    }
    .hours{
        height: auto;
        padding-top: 10px;
    }
    .mobileNavbar {
        display: none; // Affiche la barre de navigation mobile
    }
    .Buttoncontainer{
        display: none;
    }
}