body {
    font-family: 'Arial', sans-serif;
    background-color: #F7F7F7;
    color: #333;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
}
.sliderContainer {
    margin: 20px;
}
.OpenAttractionSlider {
    width: 100%;
    margin: 0 auto;
}
h1 {
    color: #0072ce; /* Bleu Disneyland Paris */
    font-size: 30px;
    margin: 0;
}
.lastUpdate {
    margin: 20px;
}
/* the slides */
.slick-list {margin: 0 -5px;}
.slick-slide>div {padding: 0 5px;}
.card {
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.imgAttraction {
    height: 50%;
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
}

.cardText {
    display: flex;
    justify-content: center;
    height: 50%;
    padding: 10px;
    text-align: Center;
    border-radius: 5px;
    flex-direction: column;
}

.buttonCard {
    width: 30%;
    height: 20%;
    font-size: 14px;
    align-self: center;
    margin: 20px;
    border-color: #0046E4;
    border-radius: 15px;
    background-color: white;
}
.buttonCard:hover{
    background-color: rgba(9, 17, 41, 0.05);
    cursor: pointer;
}
.textOpenAttraction{
    font-size: 15px;
}


/* ... Autres styles ... */

/* Cartes par défaut */
.card {
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* En mode liste pour les écrans de taille maximale de 768px (smartphones) */
@media (max-width: 768px) {
    .card {
        flex-direction: row; /* Disposition en ligne pour les smartphones */
        height: auto; /* Ajuster la hauteur automatiquement */
    }

    .imgAttraction {
        height: auto; /* Ajuster la hauteur automatiquement */
        width: 50%; /* Prendre la moitié de la largeur */
        border-radius: 5px 0 0 5px; /* Coins arrondis à gauche */
    }

    .cardText {
        width: 50%; /* Prendre la moitié de la largeur */
        padding: 10px;
        text-align: center;
        border-radius: 0 5px 5px 0; /* Coins arrondis à droite */
    }

    .buttonCard {
        width: 100%; /* Prendre toute la largeur */
        border-radius: 0; /* Pas de coins arrondis pour le bouton en mode liste */
        margin: 10px 0; /* Marge en haut et en bas du bouton */
    }
}

/* ... Autres styles ... */


@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}