/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #F0F0F0;
}

.navbartitle {
    flex-grow: 1;
    text-align: center;
}
.navLinks {
    display: block;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 1s, opacity 1s ease;
}

.showMenu {
    opacity: 1;
    max-height: 500px;
}

.menuIcon {
    cursor: pointer;
    font-size: 24px;
    transition: tranform 1s ease;
}

.menuIcon.open {
    transform: rotate(90deg);
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li {
    margin-top: 10px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-family: Nunito, sans-serif;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    .menuIcon {
        order: 1; /* Place l'icône du menu à droite */
        font-size: 30px; /* Taille plus grande pour les appareils mobiles */
    }
    .navLinks {
        order: 2; /* Place les liens sous le titre */
    }
}