/* Navbar.css */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    background-color: #1C1C1E; /* Dark background color similar to the logo background */
}

.navbar h1 {
    margin-bottom: 15px; /* Adds spacing below the title */
    color: #FFFFFF; /* White color for the title to stand out on the dark background */
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo {
    height: 100px;
}
.navbar li {
    display: inline-block;
    margin-right: 15px;
}

.navbar a {
    text-decoration: none;
    color: #FFFFFF; /* White text for better readability on the dark background */
    font-weight: bold;
    font-size: 18px;
}

.navbar a:hover {
    color: #9C27B0; /* Gold color to match the accent color in the logo */
}
.navbar a.active {
    color: #9C27B0; /* Gold color for the active class to align with the logo's color scheme */
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
}