// Dans votre fichier Hours.module.scss
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Welcome {
    margin-bottom: 10px;
}

.title {
    font-family: 'Roboto Bold', sans-serif;
    margin-top: 10px;
}
.list li {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.showWeatherButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 0;
    transition: background-color 0.3s;

    &:hover {
        background-color: #0056b3;
    }
}

.dateChange {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.weatherInfo p {
    margin: 0;
    padding: 0;
}
.arrowIcon {
    margin: 0 15px;
    font-size: 24px;
    color: #007BFF; // Couleur bleue, vous pouvez la changer selon votre thème
    cursor: pointer;
}

.arrowIcon:hover {
    color: #0056b3; // Une teinte plus foncée pour l'effet de survol
}

.todayButtonContainer {
    text-align: center;
    margin: 20px 0;
}

.todayButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #0056b3;
    }
}
.datePickerContainer {
    text-align: center;
    margin-bottom: 20px;
}

.datePicker {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}


.allparks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}
.schedule, .closedMessage {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    color: #333333;
}
.mobileNavbar {
    display: none; // Par défaut, masquez la barre de navigation mobile

}
.logo {
    width: 250px;
    height: 250px;
    padding-bottom: 10px;
}
.container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    text-align: center; // Centre le texte et le bouton
}


// Style pour le bouton central
.Buttoncontainer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.hours{
    height: 300px;
    padding-bottom: 10px;
}
// Style pour le bouton des attractions
.attractionsButton {
    padding: 10px 20px;
    border: 1px solid #007BFF; // Couleur bleue thématique Disney
    font-size: 20px;
    color: #333333;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); // Ombre légère pour le bouton
    transition: background-color 0.3s ease;

    &:hover {
        background-color:#007BFF ; // Assombrir le bouton lors du survol
        cursor: pointer;
        color: white;
    }
}

@media (max-width: 768px) {
    .allparks{
        margin-top: 20px;
        flex-direction: column;
        height: auto;
    }

    .Buttoncontainer {
        flex-direction: column;
        width: 100%;
        height: auto;
        .attractionsButton {
            font-size: 9px;
            width: 30%;
        }
    }
    .schedule, .closedMessage {
        font-size: 15px;
    }
    .logo {
        width: 150px;
        height: 150px;
    }
    .hours{
        height: auto;
        padding-top: 10px;
    }
    .arrowIcon {
        font-size: 20px;
        margin: 0 10px;
    }
    .mobileNavbar {
        display: none; // Affiche la barre de navigation mobile
    }
    .Buttoncontainer{
        display: none;
    }
}