/* Style pour le conteneur du temps d'attente */
.custom-marker-content {
  background-color: rgba(255, 255, 255, 0.9); /* Fond blanc semi-transparent */
  padding: 4px 6px; /* Espacement interne */
  border-radius: 5px; /* Bordures arrondies */
  border: 1px solid #ddd; /* Bordure légère */
  font-size: 12px; /* Taille de la police */
  text-align: center; /* Centrage du texte */
  color: #333; /* Couleur du texte */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); /* Ombre pour le relief */
  white-space: nowrap; /* Empêche le retour à la ligne du texte */
  max-width: 100px; /* Largeur maximale pour éviter le débordement */
}

/* Style pour le bouton "Go" */
.go-button {
  display: inline-block; /* Pour permettre l'ajustement de la largeur et de la hauteur */
  margin-top: 5px; /* Espacement au-dessus du bouton */
  background-color: #4CAF50; /* Couleur de fond */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  padding: 5px 10px; /* Espacement interne */
  border-radius: 3px; /* Bordures arrondies */
  cursor: pointer; /* Curseur en forme de main au survol */
  text-align: center; /* Centrage du texte */
  text-decoration: none; /* Pas de soulignement */
  font-size: 14px; /* Taille de la police */
}

.go-button:hover {
  background-color: #45a049; /* Couleur de fond au survol */
}

