/* AttractionModal.module.scss */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 30%;
}
.closeModal {
  background-color: white;
  color: #007BFF;
  border: 1px solid #007BFF;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.closeModal:hover {
  background-color: #007BFF;
  color: white;
}

@media (max-width: 768px) {
  .modalContent{
    max-width: 60%;
  }
}